extends layout

block content
 div.flex
   div.left
    div
      div.flex.space-between
        div#calendar-left
          p &#8592
        div#monthName
        div#calendar-right
          p &#8594
      table#kalenteri
        thead
          tr
            //- .rowNum clone() to a separate list?
            th Ma
            th Ti
            th Ke
            th To
            th Pe
            th La
            th Su
        tbody#kalenteriContent
      
      h1#header
      #myList
   //-div.middle
     //-p Middle
   div.right
      #popup
        h1 Add new task
        |         Project number:
        input#taskPro(type='number')
        br
        br
        |         Task name:
        input#taskName(type='text')
        br
        br
        |         Task description:
        input#taskDes(type='text')
        br
        br
        input#addNewTaskButton(type='button', value='Add')
      #tasktrashandnew
        input#defineNewTaskButton(type='button', value='Add new task')
        #-1.glyphicon.glyphicon-trash.trash(ondragover='event.preventDefault();', ondrop='dragStop(event)')
          #task_removed_popup  Task removed
      
      #tasksSection
        #task0
          h3 All
          #0.taskboard(ondragover='event.preventDefault();', ondrop='dragStop(event)')
        #task1
          h3 Working
          #1.taskboard(ondragover='event.preventDefault();', ondrop='dragStop(event)')
        #task2
          h3 Done
          #2.taskboard(ondragover='event.preventDefault();', ondrop='dragStop(event)')