extends layout

block content
  div.flex
    div.left
      p Left
    div.middle
      p Middle
    div.right
      div.right-top
        p Right-top
      div.right-bottom
        p Right-bottom

  