doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css?family=Roboto", rel="stylesheet")
    link(href='https://fonts.googleapis.com/css?family=Muli%7CZCOOL+KuaiLe', rel='stylesheet')
    
  body
    //- Navbar
    include navbar.pug

    //- Content Here
    div.content
      block content

    //- Footer here
    include footer.pug
      //- Scripts
      script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
      //- jQuery Popup Overlay plugin for popups:
      script(src="https://cdn.rawgit.com/vast-engineering/jquery-popup-overlay/gh-pages/jquery.popupoverlay.js")
      script(type="text/javascript", src="/js/script.js")
