.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand(href='../') Miniprojekti 
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
        span.icon-bar
        span.icon-bar
        span.icon-bar
    #navbar-main.navbar-collapse.collapse
      ul.nav.navbar-nav
        li
          if user
            a(href='/calendar/') Calendar
      ul.nav.navbar-nav.navbar-right
        li
          a(href='https://github.com/AlbertSpoljaric/Miniproject1', target='_blank') View on GitHub
        li
          if user
            a(href='/logout') Logout
          else
            a(href='/') Login