body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

a {
  color: #00B7FF;
}

.container{
  flex: 1 0 auto;
}

footer{
  flex-shrink: 0;
  border-top: 1px solid #eee;
}

.flex{
  margin-top: 50px;
  height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap:
}

.left{
  width: 20%;
  background-color: #f5f5f5;
}

.middle{
  width: 30%;
}

.right{
  width: 50%;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
}

.right-bottom{
  background-color: red;
}

.taskboard {
  border:solid;
  width: 300px;
  height: 150px;
  padding: 10px;
  border-radius: 5px;
  background-color: lightgoldenrodyellow;
}

h3 {
  text-align:center;
}

#tasksSection {
  display: flex; 
  flex-direction: column;
}

#defineNewTaskButton, #addNewTaskButton {
  border-radius: 5px;
  width: 100px;
  height: 50px;
  background-color:lightcyan;

}

#popup {
  display:none;
}

.popup_content {
  margin: 50px;
  padding: 50px;
  border: solid;
  background: white;
  border-radius: 5px;
}